# Sample dictionary database
jargon /playpen/tmp/jarg310.txt The Jargon File
foldoc /playpen/tmp/Dictionary The Free On-line Dictionary of Computing
devils /playpen/tmp/devils.txt The Devil's Dictionary
